body {
  font-family: Rye, sans-serif;
  background-color: #696969;
  background-image: url('/css/assets/pics/jojoBG.jpeg');
  background-size: contain;
}

header {
  background: rgb(249,206,20);
  background: linear-gradient(90deg, rgba(249,206,20,0.8646052170868348) 15%, rgba(224,25,222,0.8547794117647058) 83%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style:double;
  border-width: 10px;
}

h1 {
  margin: 10px 0 20px 0;
  color: yellow;
}

h3 {
  font-family: fredericka the great;
}


/* <----------BUTTONS----------> */
.buttons {
  background: rgb(249,206,20);
  background: linear-gradient(90deg, rgba(249,206,20,0.8646052170868348) 15%, rgba(224,25,222,0.8547794117647058) 83%);
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border-style: ridge;
  border-width: 10px;
  border-color: rgb(70, 57, 57);
  justify-content: flex-start;
  width: 1171px;
  height: 220px;
}

.bet-btns {
  display: flex;
  flex-direction: column;
  width: 120px;
  align-items: center;
  margin-bottom: 5px;
}

#dollars1{
  border-radius: 50%;
  border-width: 6px;
  border-color: white;
  background-color: red;
  border-style: dashed;
  height: 60px;
  width: 40%;
  margin-top: 5px;
}

#dollars1:hover{
  margin-right: 2px;
  box-shadow: 10px 4px 5px gray;
}

#dollars1:active{
  margin-left: 2px;
  box-shadow: 4px 4px 5px gray;
}

#dollars5{
  border-radius: 50%;
  border-width: 6px;
  border-color: white;
  background-color: green;
  border-style: dashed;
  height: 60px;
  width: 40%;
  margin-top: 5px;
}

#dollars5:hover{
  margin-right: 2px;
  box-shadow: 10px 4px 5px gray;
}

#dollars5:active{
  margin-left: 2px;
  box-shadow: 4px 4px 5px gray;
}

#dollars10{
  border-radius: 50%;
  border-width: 6px;
  border-color: white;
  background-color: orange;
  border-style: dashed;
  height: 60px;
  width: 40%;
  margin-top: 5px;
}

#dollars10:hover{
  margin-right: 2px;
  box-shadow: 10px 4px 5px gray;
}

#dollars10:active{
  margin-left: 2px;
  box-shadow: 4px 4px 5px gray;
}

#unbet {
  font-size: 20px;
  margin-top: 5px;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
}

#unbet:hover{
  box-shadow: 10px 4px 5px gray;

}

#unbet:active{
  box-shadow: 4px 4px 5px gray;
  border-style: groove;
  margin-left: 2px;
}


.play-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  margin: 5px 0 5px 5px;
}

#next-round {
  background-color: rgb(223, 221, 221);
  opacity: 0;
  margin-bottom: 5px;
  padding-right: 10px;
  border-style: solid;
  border-width: 5px;
}

#next-round:hover{
  box-shadow: 10px 4px 5px gray;

}

#next-round:active{
  box-shadow: 4px 4px 5px gray;
  border-style: groove;
}

#reset {
  background-color: rgb(223, 221, 221);
  opacity: 0;
  margin-bottom: 5px;
  border-style: solid;
  border-width: 5px;
}

#reset:hover{
  box-shadow: 10px 4px 5px gray;

}

#reset:active{
  margin-left: 2px;
  box-shadow: 4px 4px 5px gray;
  border-style: groove;
}

#start {
  margin-bottom: 5px;
  border-style: solid;
  border-width: 5px;
  background-color: rgb(124, 232, 71);
}

#start:hover{
  box-shadow: 10px 4px 5px gray;

}

#start:active{
  margin-left: 2px;
  box-shadow: 4px 4px 5px gray;
  border-style: groove;
}

#stand-button {
  margin: 0 5px 0 5px;
  width: 70px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-radius: 5px;
  border-style: double;
  border-width: 5px;
}

#stand-button:hover{
  box-shadow: 0px 0px 10px;
}

#stand-button:active{
  border-style: groove;
}

#hit-button{
  width: 70px;
  border-radius: 5px;
  border-style: double;
  border-width: 5px;
}

#hit-button:hover{
  box-shadow: 0px 0px 10px;
}

#hit-button:active{
  border-style: groove;
}

/* <----------RENDERS----------> */
.game-state {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  width: 300px;
}

#render {
  -webkit-text-stroke: 2px black;
  color: blue;
  font-family: sawarabi mincho, sans-serif;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.player-card-container {
  height: 250px;
  border-radius: 0px;
  background-image: url('/css/assets/pics/blackjack table.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.dealer-card-container {
  height: 250px;
  border-radius: 5px;
  border-style: solid;
  background-image: url('/css/assets/pics/blackjack table.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}                                                                                              

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

#table {
  width: 1171px;
  position: absolute;
  left: 19%
}

#dealer-hand, #player-hand {
  height: 200px;
  
}



/* <----------IMAGES----------> */
#darby{
  display: flex;
  height: 500px;
  align-self: center;
  margin-left: 600px;
  width: 420px;
}

#osiris{
  height: 500px;
  align-self: center;
  margin-right: 500px;
}

.image-wrap{
  display: flex;
}
.left-side{
  display: flex;
  flex-direction: column;
}

.right-side{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menace {
  width: 30%;
  opacity: 0;
}

.menace2 {
  width: 30%;
  opacity: 0;
}







