body {
  background-color: #696969;
  background-image: url('/css/assets/pics/jojoBG.jpeg');
  background-size: contain;
}

#buttons {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border-style: solid;
  justify-content: flex-start;
  width: 1171px;
  height: 200px;
  border-radius: 10px;
}

.bet-btns {
  display: flex;
  flex-direction: column;
  border-style: solid;
}

#play-buttons {
  display: flex;
  flex-direction: column;
}

#game-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#render {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-card-container {
  height: 250px;
  border-radius: 5px;
  border-style: solid;
  background-image: url('/css/assets/pics/blackjack table.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.dealer-card-container {
  height: 250px;
  border-radius: 5px;
  border-style: solid;
  background-image: url('/css/assets/pics/360_F_101064292_hi9e6IPHczemyLSsJj27XLgoVCSaA1Ai.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}                                                                                              

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

#table {
  width: 1171px;
  position: absolute;
  left: 19%
}

#dealer-hand, #player-hand {
  height: 200px;
  
}

#message {
  height: 50px;
}

#darby{
  display: inline;
  width: 20%;
  float: right;
  height: 500px;
}

#osiris{
  float: left;
  height: 500px;
  width: 365px;
}



