body {
  background-color: #696969;
}

#buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: start;
  height: 300px;
  border-radius: 5px;
  border-style: solid;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  height: 250px;
  border-radius: 5px;
  border-style: solid;
}

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

#table {
  width: 1000px;
}

#dealer-hand, #player-hand {
  height: 200px;
  
}

#message {
  height: 50px;
}

